@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'symbols-nerds';
	src: url('../fonts/symbols-nerds.woff') format('woff'),
		url('../fonts/symbols-nerds.woff2') format('woff2');
}


body {
	font-size: 14px;
	line-height: 30px;
	color: #000;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 500;
	min-width: 900px;
}

span {
	white-space: nowrap;
}

.main-header {
	background-color: #eee;
}

.container {
	width: 1440px;
  display: flex;
 justify-content: center;
	padding: 0 10px;
	margin: 0 auto;
}

.main-header-logo {

	margin-top: 49px;
	margin-left: 140px;
	margin-right: 1140px;
  	width: 160px;
 	height: 65px;
  	object-fit: contain;
}


.site-navigation {


}

.site-navigation ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 82px;
	margin-right: 28px;
}

.site-navigation li {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	margin-bottom: 40px;
}

.site-navigation a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.site-navigation a:hover {
	color: #fb565a;
}

.site-navigation a:active {
	color: #9c9c9c;
}

.site-navigation .active {
	padding-bottom: 4px;
	border-bottom: 2px solid #fb565a;
}

.cart-icon {
	position: relative;

	margin-top: 82px;
	margin-left: 67px;
}

.cart-icon a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.cart-icon a:hover {
	color: #fb565a;
}

.cart-icon a:active {
	color: #9c9c9c;
}


.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.slider {
	position: relative;
	width: 1440px;
    height: 413px;
    object-fit: contain;
	margin: 0 auto;
	overflow: hidden;
}

.slide {

	top: 0;
	left: 0;
	width: 698px;
    height: 413px;
    object-fit: contain;
	background-repeat: no-repeat;
	background-position: 100% 10px;
		-webkit-transition: left 0.3s ease;
		-moz-transition: left 0.3s ease;
		transition: left 0.3s ease;
}

.slider input[type='radio'] {
	display: none;
}

.slider-controls {
	position: absolute;
	bottom: 96px;
	left: 50%;
	z-index: 10;
	width: 200px;
	margin-left: -110px;
	text-align: center;
}

.slider-controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	vertical-align: top;
	background: #ffffff;
	border: 3px solid white;
	border-radius: 50%;
	cursor: pointer;
}

.slide-text {
	  width: 376px;
      height: 106px;
	  padding: 32px 0;
}

.slide-title {
	font-weight: 500;
	font-size: 55px;
	font-weight: 500;
    font-style: normal;
  	font-stretch: normal;
  	line-height: 1;
  	letter-spacing: normal;
  	text-align: left;
  	color: #000000;
}

.slide p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}

.slide .button {

	width: 240px;
	height: 50px;
	margin-top: 28px;
	padding: 5px 10px;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	background: #fb565a;
	border-radius: 3px;
}

.slide:nth-child(1) {
	background-image: url('../img/nerds-index-slide1.png');
}

.slide:nth-child(2) {
	background-image: url('../img/nerds-index-slide2.png');
}

.slide:nth-child(3) {
	background-image: url('../img/nerds-index-slide2.png');
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
	left: 1440px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
	left: -1440px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	left: 0;
}

#btn-2:checked ~ .slides .slide:nth-child(3) {
	left: -1440px;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
	left: -1440px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
	left: -1440px;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
	left: 0;
}

#btn-1:checked ~ .slider-controls label[for='btn-1'],
#btn-2:checked ~ .slider-controls label[for='btn-2'],
#btn-3:checked ~ .slider-controls label[for='btn-3'] {
	background: #c1c1c1;
}

.advantages-item {

	vertical-align: top;
	width: 240px;
	margin-right: 76px;
	margin-top: 82px;
	margin-bottom: 85px;
	font-size: 15px;
	line-height: 22px;
	font-weight: 500;
}

.advantages-item:last-child {
	margin-right: 0;
}

.features-item p {
	color: #283136;
	font-size: 15px;
	line-height: 22px;
}

.advantages-item .advantage {
	margin-top: 16px;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.advantages-item p:nth-child(3n) {
	margin-bottom: 30px;
}

.advantages-item a {
	text-decoration: none;
	color: #fff;
	padding: 12px 40px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.advantages .container {
	border-bottom: #eee 2px solid;
}

.button.red {
	background-color: #fb565a;
}

.button.red:hover {
	background-color: #d6494d;
}

.button.red:active {
	background-color: #b63538;
	box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .15);
}

.btn.green {
	background-color: #00ca74;
}

.button.green:hover {
	background-color: #01a25e;
}

.button.green:active {
	background-color: #009053;
	box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .15);
}

.button.yellow {
	background-color: #efc84a;
}

.button.yellow:hover {
	background-color: #d6ae2c;
}

.button.yellow:active {
	background-color: #c09b24;
	box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .15);
}

.studio-description {

}

.about-statistic {

}

.studio .promo-text {
	font-size: 36px;
	line-height: 36px;
}

.studio-description-title p {
	color: #283136;
	font-size: 16px;
	line-height: 22px;
	word-spacing: 1px;
}

.statistic-logo {
	width: 360px;
 	height: 208px;
  	object-fit: contain;
	margin-top: 40px;
	
}

.studio-description-info {
  width: 429px;
  height: 160px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
}
.orders {
	  font-weight: bold;
  color: #000000;
}

.studio-description-info p {
	color: #283136;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 22px;
}

.index-content-info ul {
	margin: 0;
	padding: 0;
}

.index-content-info li {
	color: #283136;
	font-size: 16px;
	line-height: 22px;
	list-style-type: none;
	padding-bottom: 22px;
}

.studio-description-info li:before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	margin-right: 12px;
	vertical-align: middle;
}

.studio {
	margin-top: 45px;
}

.studio-description .container {
	border-bottom: #eee 2px solid;
}

.clients ul {
	list-style-type: none;
	margin: auto 0;
	padding-top: 40px;
	padding-bottom: 35px;
	padding-left: 10px;
}

.clients li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 60px;
	margin-top: 10px;
}

.clientsli:first-child {
	padding-left: 0px;
}

.clients li:last-child {
	padding-right: 0px;
}

.clients a {
	text-decoration: none;
	opacity: 0.2;
}

.clients a:hover {
	opacity: 1;
}

.clients a:active {
	opacity: 1;
}

.clients .container {
	border-bottom: #eee 2px solid;
}

.contacts {
	position: relative;
	margin-top: 85px;

}

.contacts .container {
	position: absolute;
	top: 85px;
	right: 50%;
	margin-right: -450px;
}

.adres {
	background-color: #fff;
	 width: 319px;
  height: 308px;
	text-align: center;
}

.adres p {
	color: #666;
	font-size: 16px;
	line-height: 20px;
}

.adres .adres-head {
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
	padding-top: 30px;
	font-size: 16px;
	line-height: 30px;
}

.adres a {
	text-decoration: none;
	padding: 11px 55px;
	background-color: #fb565a;
	color: #fff;
	border-radius: 5px;
}

.map {
	height: 415px;
	background: url('../img/map.png') 50% 0 no-repeat;
	background-color: #e9e5dc;
}

.main-footer {
  width: 1440px;
  height: 217px;
}

.social {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-right: 15px;
}

.social-item {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 29px;
	background-color: #e1e1e1;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.social-item:hover {
	background-color: #fb565a;
}

.social-item:active {
	background-color: #d6494d;
	box-shadow: inset 0 3px #b63e42;
}

.social-vk:after {
	content: '';
	display: inline-block;
	background: url('../img/sprite-icons.png') 0 0 no-repeat;
	width: 26px;
	height: 16px;

}

.social-fb:after {
	content: '';
	display: inline-block;
	background: url('../img/sprite-icons.png') 0 -30px no-repeat;
	width: 13px;
	height: 23px;
	vertical-align: middle;
}

.social-inst:after {
	content: '';
	display: inline-block;
	background: url('../img/sprite-icons.png') 0 -68px no-repeat;
	width: 23px;
	height: 23px;
	vertical-align: middle;
}

.friends {
	display: inline-block;
	vertical-align: top;
	width: 550px;
	font-size: 16px;
}

.friends p {
	margin: 0;
	padding-right: 0;
}

.friends .promo-text {
	font-size: 36px;
	line-height: 36px;
}

